.page {
  background: #ffffff;
  background-color: rgb(255, 255, 255);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  color: #000000;
  border: 1px solid #000000;
}
.tborder {
  background: #ffffff;
  background-color: rgb(255, 255, 255);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  color: #000000;
  border: 1px solid #000000;
}
th.thead,
div.thead {
  padding: 4px;
}
.thead {
  background-image: linear-gradient(
    to bottom,
    hsl(157, 90%, 31%),
    hsl(157, 90%, 51%)
  );
  font-size: 11px;
  font-weight: bold;
}
.alt1,
.alt1Active {
  /*background: #e6e6e6;*/
  background: seagreen;
  color: #000000;
  font-size: 10pt;
  padding: 3px;
}
.alt2,
.alt2Active {
  /*background: #cfd9ff;*/
  background: hsl(152, 94%, 73%);
  color: #000000;
  font-size: 10pt;
  padding: 3px;
}
td {
  border: 1px solid #ffffff;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top: 0px;
  border-bottom: 0px;
}
.post-menu {
  padding-top: 2px;
  text-align: right;
}
.post-menu > a {
  padding: 0 3px 2px;
  color: #848d95;
}
